h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: white;
    width: 240px;
    height: 50px;
    line-height: 50px;
    margin-left: 200px;
    margin-bottom: 0px;
}
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
     color: #4aaaa5;
     background-color: #fff;
     padding-top: 20px;
     margin-top: 20px;
     padding-left: 20px;
}
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
p {
    margin-left: 10px;
    padding-right: 10px;
}
nav {
    display: flex;
    float: right;
    justify-content: space-evenly;
    width: 300px;
}
.navitem:hover {
    background: yellowgreen;
    color: #333;
}

/* The lines dividing content */
.h_line1 {
    width:100%;
    height:1px;
    background: #000;
    margin: 0px 0px 0px 0px;
}
.h_line2 {
    width:100%;
    height:2px;
   background: #888;
}

/* to position the content */
.moveover {
    background-image: url("../images/oriental.png");
    background-color: #dddddd;
    height: calc(100vh - 60px - 50px);  /* subtract footer and header heights */
}
.colorwhite {
    margin-left: 200px;
    background-color: #fff;
    margin-right: 200px;
}

/* for the form on the contact page */
.form_item {
    margin-left: 20px;
    margin-bottom: 20px;
}
textarea {
    vertical-align: top;
    margin-left: 20px;
    width: 280px;
    height:150px;
}
.bigbluebutton {
    background-color: #4aaaa5;
    color: white;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}

/* for the portfolio page */
table {
    background-color: #fff;
}
.tblimg {
    margin: 20px;
    width: 200px;
    height: 200px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.tbltxt {
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    margin-left: 20px;
    bottom: 40px;
    text-align: center;
}

/* all pages */
.footerbackground {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #4aaaa5;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
}
